<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order!</h1>
    <p>
      You have successfully place an order with Jungle!<br><br>
      Your order number is #<%= @order.id %>. Here is the order breakdown: <br>
    </p>
    <h3>Order details</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th rowspan="2">Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |item| %>
        <tr>
          <td rowspan="2"><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td><%= humanized_money_with_symbol item.product.price_cents * item.quantity/ 100.0 %></td>
        <% end %>
        </tr>
      </tbody>
    </table>
    <br>
    <p>Thank you and have a great day!</p>
  </body>
</html>